<?xml version="1.0" encoding="utf-8"?>
<Config>
  <SpriteCategory Name="book">
    <AlwaysLoad />
  </SpriteCategory>
  <SpriteCategory Name="hero">
    <AlwaysLoad />
  </SpriteCategory>
  <SpriteCategory Name="icon-book">
    <AlwaysLoad />
  </SpriteCategory>
  <SpriteCategory Name="logo">
    <AlwaysLoad />
  </SpriteCategory>
  <SpriteCategory Name="logo1">
    <AlwaysLoad />
  </SpriteCategory>
  <SpriteCategory Name="thumbnail">
    <AlwaysLoad />
  </SpriteCategory>
  <SpriteCategory Name="jailbreak">
    <AlwaysLoad />
  </SpriteCategory>
  <SpriteCategory Name="letter">
    <AlwaysLoad />
  </SpriteCategory>
  <SpriteCategory Name="hud_icons">
    <AlwaysLoad />
  </SpriteCategory>
  <SpriteCategory Name="rebellion_siege">
    <AlwaysLoad />
  </SpriteCategory>
  <SpriteCategory Name="parley">
    <AlwaysLoad />
  </SpriteCategory>  
</Config>
